.inline-flex-nd{
  display: inline-flex;
}
.self-card-small-header{
  padding : 6px !important;
  text-align: center;
}
.self-data-card-header{
	margin-left: 5px;
	font-size: 16px;
	font-weight: bolder;
}
.self-data-card-des{
	font-size:12px;
	margin-top: -18px;
	margin-left: 15px;
}
.self-card-body{
	padding: 15px !important;
}
#container {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
}
.self-card-designation{
	font-size: 0.88rem !important;
	margin-bottom: 0px !important;

}
.self-icon-down-arrow{
	position: absolute;
	right: 15px;
}
.self-card-header-without-margin{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.self-button-more-details{
	border-radius: 100%; 
	border: none;
	color: #00AD97; 
	background-color: #FFFFFF4D;
	padding-top: 5px;
	box-shadow: 0 16px 38px -12px rgba(29, 24, 24, 0.6), 0 4px 25px 0px rgba(98, 83, 83, 0.68), 0 8px 10px -5px rgba(8, 1, 1, 0.29);
		
}
.self-div-more-details{

	margin-bottom: -24px;
}
.self-more-details-profile{
	margin-top: 24px;
	padding: 12px;
	padding-left: 0px;
}
.highcharts-credits{
	display: none;
}
.self-div-row-padding{
	padding-top: 7px;
}
.self-text-labeling-right{
	text-align: right;
}
.self-card-body-grey{
	color:#707070 !important;
}
.self-button-padding{
	padding-left: 12px !important;
	padding-right: 12px !important;
}
.nav-tabs .nav-item .nav-link{
	font-size: 10px!important;
    padding: 10px 10px!important;
}

.chosen-container,.chosen-container-multi{
	width: 200px !important;
}